<div class="form-inline">
    <div class="form-group mb-2">
        <label class="mr-2">Filtro:</label>
        <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
        <button class="btn btn-outline-success">Buscar</button>
    </div>

</div>
<h3 class="text-left">Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th><button class="btn btn-outline-primary" (click)="getMostrarImagem()">
                <li class="fa fa-eye-slash" *ngIf="mostrarImagem"></li>
                <li class="fa fa-eye" *ngIf="!mostrarImagem"></li>              
                </button>
            </th>
            <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Quantidade Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventosFiltrados && eventosFiltrados.length">
        <tr *ngFor="let e of eventosFiltrados">
            <td>
                <img *ngIf="mostrarImagem" src="{{e.imagemurl}}" alt="" [style.width.px]="imagemLargura" [style.margin.px]="imagemMargem">
            </td>
            <td>{{e.id}}</td>
            <td>{{e.tema}}</td>
            <td>{{e.local}}</td>
            <td>{{e.dataEvento | DateTimeFormatPipe}}</td>
            <td>{{e.qtdPessoas}}</td>
            <td>
                <div *ngIf="!e.lotes.length">
                    Não Informado
                </div>
                <div *ngIf="e.lotes.length">
                    {{e.lotes[0].nome | uppercase}}
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-sm btn-success" tooltip="Editar" (click)="openModal(template)">
                        <li class="fa fa-edit"></li>
                    </button>
                    <button class="btn btn-sm btn-danger" tooltip="Excluir">
                        <li class="fa fa-eraser"></li>
                    </button>
                </div>

            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="eventosFiltrados && !eventosFiltrados.length">
        <tr>
            <td colspan=" 7 " class="text-center ">
                <h4>Nenhum evento encontrado </h4>
            </td>
        </tr>
    </tfoot>
</table>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">Close</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal
    </div>
</ng-template>